<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</head>
	<div class="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#">eRegistra</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item active">
		        <a class="nav-link" href="../studentlist">Student Lists <span class="sr-only">(current)</span></a>
		      </li>
		    </ul>
		  </div>
		</nav>
	</div>
	<div class="container">
		<h3 style="margin-left:15px; margin-top: 10px" th:if="${student.studentId == 0}" th:text="'Add New Student'"></h3>
		<h3 style="margin-left:15px; margin-top: 10px" th:if="${student.studentId > 0}" th:text="'Update Student'"></h3>
		<form th:action="@{/addstudent}" th:object="${student}" method="post">
			<input type="hidden" th:field=*{studentId} />
			<div class="form-group col-md-4">
			    <label for="studentnumber">Student Number</label>
			    <input type="text" class="form-control" id="studentnumber" th:field="*{studentNumber}" th:value="*{studentNumber}">
			 </div>
			 <div class="form-group col-md-4">
			    <label for="firstName">FirstName</label>
			    <input type="text" class="form-control" id="studentnumber" th:field="*{firstName}" th:value="*{firstName}">
			 </div>
			 <div class="form-group col-md-4">
			    <label for="middleName">MiddleName</label>
			    <input type="text" class="form-control" id="middleName" th:field="*{middleName}" th:value="*{middleName}">
			 </div>
			 <div class="form-group col-md-4">
			    <label for="middleName">LastName</label>
			    <input type="text" class="form-control" id="lastName" th:field="*{lastName}" th:value="*{lastName}">
			 </div>
			 <div class="form-group col-md-4">
			    <label for="cgpa">CGPA</label>
			    <input type="text" class="form-control" id="cgpa" th:field="*{cgpa}" th:value="*{cgpa}">
			 </div>
			 <div class="form-group col-md-4">
			    <label for="cgpa">Enrollment Date</label>
			    <input type="date" class="form-control" id="enrollmentDate" th:field="*{enrollmentDate}" th:value="*{enrollmentDate}">
			 </div>
			 <div class="form-group col-md-4">
			    <label for="cgpa">Is International</label>
			 	<select th:field="*{isInternational}" th:value="*{isInternational}">
			 		<option th:value="true" th:text="Yes" />
			 		<option th:value="false" th:text="No" />
			 	</select>
			 </div>
			 <div class="form-group col-md-4">
				<button type="submit" class="btn btn-primary">Submit</button>
			 </div>
		</form>
	</div>
</html>